body {
  font-family: 'Lato';
  padding-top: 50px;
}
/*===== Navbar =====*/
.navbar .navbar-nav {
  font-weight: 900;
  font-size: 0.9em;
  float: none;
  vertical-align: top;
  display: inline-block;
}

.navbar-brand {
  display: none;
}

@media (max-width: 767px) {

  .navbar .navbar-nav {
    display: block;
  }

  .navbar-brand {
    display: block;
    width: 170px;
  }
}
.nav .navbar-nav li a {
  transition: all 0.5s;
}

.nav .navbar-nav li a:hover {
  background-color: #001b52;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #001b52; 
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-inverse .navbar-toggle {
  border-color: #fff;
}

.navbar-inverse .navbar-toggle:hover {
  background: #0a337f;
}

.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover{
  background-color:#0a337f
}
/*===== Home =====*/
.center {
  display: inline-block;
  text-align: center;
}

.menu {
  color: #fff;
  text-decoration: none;
}

.menu:hover {
  color: #red;
}

.img {
  margin: 5px 0px 5px 0px;
  width: 200px;
  text-align: center;
}

.head {
  background-color: #274f9f;
  width: 100%;
}

#home {
  width:100%;
  height: auto;
  background: #0a337f;
  padding-top: 95px;
  padding-bottom: 40px;
  display: inline-block;
  text-align: center;
  color: #fff;
}

.fs-ornament {
  width: 280px;
  margin-bottom: -5px;
}

.btn-daftar {
  font-weight: 900;
  padding: 10px 30px 10px 30px;
  border-radius: 0px;
  font-size: 1.2em;
  background: transparent;
  border: 2px solid #fff;
  transition: all 0.5s;
  margin: 40px 0;
}
.home-text h2 {
  text-transform: uppercase;
}
.btn-daftar:hover {
  background: #fff;
  color: #002672;
}
/*===== Contest =====*/
.title {
  font-size: 24px;
}
.title b {
  margin-left: 5px; 
  margin-right: 5px;
}
#contest {
  width:100%;
  height: auto;
  background: #fff;
  padding-top: 50px;
  padding: 40px 15px;
  display: inline-block;
  text-align: center;
  color: #000;
}

.ss-ornament {
  width: 30px;
}

.ss-text {
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
}
