body{
    /*background-image: url("../img/crossword.png");*/
    /*background-color: #3551af;*/
    font-family: 'Century Gothic';
}
i{
	font-style: normal;
}
p, ul, li{
	font-family: 'roboto';
}

.white{
	color:white;
}
.bold{
	font-weight: bold;
}
#white{
	color:white;
}

#blue{
	color:#0051a4;
}

#bgblue{
	background-color: #007eff;
	margin-top:-10px;
}

#yellow{
	color:#faf31c;
}
.titleLeft{
	font-weight: bold;
	margin-bottom: -8px;
	font-size: 16px;
	letter-spacing: .3px;
	line-height: 15px;
  margin-left: -30px;
}
.titleIcon {
    margin-top: 7px;
    margin-left: -40px;
    height: 32px;
    width: auto;
}
.titleMid{
	display: inline;
	font-size: 14px;
	float:left;
	font-family: 'Oswald';
 margin-top: -8px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    margin-right: 11%;
    font-family: sans-serif;
    margin-top: -3px;
}

.navbar .navbar-collapse {
  text-align: center;
}

@media (min-width: 768px){
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	    margin-right: 0;
	    margin-left: 0;
	    margin-top: 10px;
	}
}

@media (max-width: 990px){
	.gedsat {
		display:none;
	}
	.titleMid{
		display: none;
	}
	.righttop{
		display: none;
	}
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 15px;
    /*height:10px;*/
}

.navbar-header{
	margin-bottom: -8px;
}

.navbar {
	border-radius: 0px;
	color: #0051a4;
	margin:top:-5px;
	margin-left:-1px;
}
.divider {
     font-family: 'Oswald';
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    /*background-color: #4aa3ff;*/
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
#bar{
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #0051a4;
}
#progressBar{
  width: 100%;
  background: #EDEDED;
}

.caption1 {
    position: absolute;
    font-family: 'Century Gothic';
    font-weight: 900;
    font-size: 3em;
    top: 0;
    left: 0;
    padding-top: 170px;
    text-align: right;
    width: 100%;
    z-index: 9999;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
    margin: 15% 0 0 0;
    padding-right: 25px;
}

.caption2{
	font-weight: normal;
	color:grey;
}

#header {
    margin-bottom: -21px;
}

#box1{
	background-color: #ff1919;
	color:white;
	padding: 5px;
	    padding-bottom: 25px;
	    padding-left: 30px;
	    letter-spacing: 0px;
      

}
#box2{
	background-color: #ffa619;
	color:white;
		padding: 5px;
	    padding-bottom: 25px;
	    	    padding-left: 30px;
	    	    	    letter-spacing: 0px;


}
#box3{
	background-color: #1094a4;
	color:white;
		padding: 5px;
	    padding-bottom: 25px;
	    	    padding-left: 30px;
	    	    	    letter-spacing: 0px;



}
h3{
	font-size: 22px;
}

.textBox{
	font-size: 14px;
}
.ghost-button-thick-border {
  display: inline-block;
  width: 130px;
  font-weight: normal;
  padding: 2px;
  font-size: 18px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button-thick-border:hover,
.ghost-button-thick-border:active {
  background-color: #fff;
  color: #b3b3b3;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
    text-decoration: none;
    /*font-weight: bold;*/

}

.subHeading{
	color:white;
	font-size: 21px;
	letter-spacing: -.5px;
	font-weight: bold;
	width:300px;
	padding: 8px 8px;
	padding-left: 12px;
	margin-bottom: 20px;
	margin-top: 5px;
}

.textHeading{
	font-family: 'Verdana';
	color: black;
	font-size:14px;
	line-height: 22px;
	text-align: justify;
}
#owl-sc .item{
  margin: 3px;
}
#owl-sc .item img {
    display: block;
    width: auto;
    height: 195px;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
}

#owl-ps .item{
  margin: 3px;
}
#owl-ps .item img {
    display: block;
    width: auto;
    height: 100px;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
}
#owl-f .item{
  margin: 3px;
}
#owl-f .item img {
    display: block;
    width: auto;
    height: 100px;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
}

.foot1{
    font-family: 'Century Gothic';
    padding-top: 35px;
    font-size: 15px;

}

.foot2 {
    font-size: 13px;
    font-family: 'Century Gothic';
    margin-top: -8px;
}

.scname {
    font-family: 'Oswald';
    font-size: 15px;
    margin-top: -8px;
}

.scuniv {
	font-family: 'Roboto';
    font-size: 15px;
    margin-top: -3px;
    color:#4D5872;
}

.footh {
    height: 120px;
}

.bgks{
  background: url(../img/c1.jpg) no-repeat bottom center scroll;
    background-color: carrot;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
  /*height: 1000px*/
  margin-bottom:20px;
}

#owl-ks .item{
  margin: 3px;
}
#owl-ks .item img {
    display: block;
    width: auto;
    height: 195px;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
}
/*.imgks{
    margin-left: auto;
    margin-right: auto;
     align-items: center; 
    display: block;
    height: 230px;
}*/

.ksname {
    font-family: 'Oswald';
    font-size: 22px;
    padding-top: 16px;
}

.ksuniv{
  font-family: 'Roboto';
    color: #a1a5ae;
    font-size: 15px;
    padding-left: 160px;
    padding-right: 160px;

}

.titleks{
  font-weight: bold;
  font-size: 30px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.idtext{
  color:black;
  font-size: 18px;
}

h3.righttitle{
  margin-top: 0px;
  color:#4aa3ff;
  font-weight: bold;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 3px solid #eee;
}

.phase {
    color: #ff9000;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
}

.datephase{
    color: #ff9000;
    font-size: 17.5px;
    /*font-weight: bold;*/
    margin-left: 20px;
}

.linephase {
    color: #adadad;
    font-size: 17.5px;
    /* font-weight: bold; */
    margin-left: 20px;
    line-height: 0px;
    margin-bottom: 17px;
}

@media (max-width: 768){
  .ksbg{
    display: none;
  }
}

.delimiter{
  font-family: 'Oswald';
}

li.delimiter {
    /* padding-left: 0px; */
    margin-right: -15px;
    margin-left: -15px;
    /* font-size: 19px; */
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 1.24em;
    /* height: 10px; */
}

.icsi-head{
  width: 185px;
  margin-bottom: 20px;
  margin-top: -18px;
  margin-left: 10px;
  color: #404041;
}

.icsi-text-head {
    font-family: 'Oswald';
    font-weight: 100;
    font-size: 15px;
    margin-top: -3px;
    font-style: normal;
    color: rgb(98, 98, 98);
}

.icsi-text-second-head{
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 17px;
    margin-top: -14px;
    letter-spacing: 0.75px;
}

#utilitymenu{
      float: right;
     display: block; 
    list-style: none;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 5px;
}

#utilitymenu li {
    display: inline;
    font-size: 13px;
    margin-right: -5px;
      color:#bbbdbf;
      margin-top: 5px;

}

#utilitymenu li a, #utilitymenu li a:hover {
    font-family: 'Oswald';
    color: #bbbdbf;
    text-decoration: none;
    font-weight: normal;
    letter-spacing: .3px;
    font-size: 0.9em;
}
#utilitymenu li a b, #utilitymenu li a:hover b{
    font-family: 'Oswald';
    color: white;
    text-decoration: none;
    font-weight: normal;
    letter-spacing: .3px;
    font-size: 0.9em;
}

.md-head-text {
    margin-left: -17.5px;

}

.row{
  margin-right: 0px;
}

.lowernav{
  display: inline;
}

.ieee-head {
    width: 145px;
    float: right;
    margin-right: 4px;
}
.ui.styled.accordion {
    width: 100%;
}
.ui.styled.accordion .accordion .active.title, .ui.styled.accordion .accordion .title:hover, .ui.styled.accordion .active.title, .ui.styled.accordion .title:hover {
    background: 0 0;
    color: #FF5722;
    background-color: #E1F1F5;
}
.ui.styled.accordion .accordion .active.title, .ui.styled.accordion .active.title {
    background: 0 0;
    color: #FF5722;
    background-color: #E1F1F5;
}


.ui.styled.accordion .accordion .title, .ui.styled.accordion .title {
    margin: 0;
    padding: 10px 15px;
    color: black;
    font-weight: normal;
    border-top: 1px solid rgba(34,36,38,.15);
    -webkit-transition: background .1s ease,color .1s ease;
    transition: background .1s ease,color .1s ease;
    font-size: 16px;
    font-family: 'Oswald';
    /* margin-bottom: 10px; */
}
.ui.accordion .title:not(.ui) {
    /*padding: .5em 0;*/
    /*font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;*/
    font-size: 1.3em;
    /*color: rgba(0,0,0,.87);*/
}
  @media(min-width: 1200px){
    .container{
      width:1200px;
    }
  }
  @media(min-width: 1200px){
    .con950{
      width:950px;
    }
  }

.head1{
  font-size: 36px;
  font-family: 'Oswald';
  color:#FF5722;
}
.thumbnail {
    display: block;
    padding: 5px;
    margin-bottom: -15px;
    line-height: 1.42857143;
    /*background-color: #e1f1f5;*/
    border: none;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.thumbnail .caption {
    padding-bottom: 15px;
    margin-top: -2px;
    color: black;
    font-family: 'Oswald';
}   

.thumbnail img {
    width: auto;
    height: 110px;
}
.thumbnail h4{
    font-size: 16px;
    /*margin-top: -11px;*/
    /*font-weight: normal;*/
    /*font-family: 'Oswald';*/
}
.thumbnail h5 {
    font-size: 13.5px;
    margin-top: -6px;
    font-weight: normal;
    font-family: 'Roboto';
    color: #4d5872;
}
.col-md-6.col-sm-12 {
    /* color: darkcyan; */
    background-color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 12px;
}

#owl-ks .item img {
    display: block;
    width: auto;
    height: 195px;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
    border: 5px solid grey;
}

.justify{
	text-align: justify;
}

.head2{
	font-size: 18px;
	font-family: 'Oswald';
	color:#FF5722;
}

.map1{
	background-color: #172633;
	width: 100%;
	height: 200px;
}

.email{
	text-decoration: none;
}

.email:hover{
	text-decoration: none;
}

.link1{
	text-decoration: none;
}

.link1:hover{
	text-decoration: none;
}

.suites{
	color: #4aa3ff;
}

.rates{
	color: #ffa619;
}

.table-hover>tbody>tr:hover {
    background-color: #E1F1F5;
}

#st{
  font-size:80%;
}
h4{
  color:blue;
}

.papi{
    font-family: 'roboto';
    font-size: 22px;
    /*padding-bottom: 28px;*/
    margin-bottom: 0px;
}

@media (max-width: 990px){
  .uppernav {
    display:none;
  }
  #st{
    font-size:100%;
  }
  img.icsi-head {
    float: left;
    margin-top: 0px;
  }
  #ieee-head{
    display: none;
  }
  .icsi-text-head {
    font-family: 'Oswald';
    font-weight: 100;
    font-size: 15px;
    margin-top: 20px;
    font-style: normal;
    color: rgb(98, 98, 98);
  }
  li.delimiter {
    display:none;
  }
  div#bs-example-navbar-collapse-1 {
      float: left;
	  text-align: left;
	  margin-left: -100px;
      width: 100%;
      height: auto;
  }
  ul.nav.navbar-nav{
    margin-left:35%;
  }
  img.icsi-head {
    float: left;
    margin-top: 5%;
    width: 30%;
    height: 122px;
  }
  .icsi-text-head {
    font-family: 'Oswald';
    font-weight: 100;
    font-size: 13px;
    margin-top: 20px;
    font-style: normal;
    color: rgb(98, 98, 98);
  }
  .icsi-text-second-head {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 87%;
    margin-top: -14px;
    letter-spacing: 0.75px;
  }
  ul.nav.navbar-nav {
      margin-left: 100%;
  }
  .navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 2em;
    /* height: 10px; */
  
  }
  .thumbnail h5 {
    font-size: 15.5px;
    margin-top: -6px;
    font-weight: normal;
    font-family: 'Roboto';
    color: #4d5872;
  }

  .thumbnail h4 {
    font-size:18px;
  }

  table.table.table-hover {
    font-size: 150%;
  }
  #utilityfoot{
    display: none;
  }
  #utilitymenu{
    display: none;
  }
}

input.form-control.first-name, input.form-control.last-name, input.form-control.mail, input.form-control.pno, textarea.form-control {
    font-size: 18px;
    font-weight: 400;
    color: #525252;
    padding: 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-color: #525252;
}
/*.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
}*/
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-bottom: 8px;
    background-color: rgb(0, 126, 255);
    background-image: none;
    border: 1px solid rgba(178, 15, 15, 0);
    border-radius: 4px;
    border-radius: 4px;
}
ul.nav.navbar-nav{
  margin-top:-10px;
  margin-left:120px;
}

.subpube{
    color: #ff5722;
    font-weight: bold;
    font-size: 25px;
    margin-left: -15px;
}


.divider:hover a {
    border-bottom: solid 5px #fe8917;
    padding-bottom:10px;
}

ul li h5 i{
  color:blue;
  font-weight: bold;
}

@media (max-width: 990px){
  ul li h5 i{
    font-size: 16px;
  }
  ul li h5{
    font-size: 15.5px;
  }
}